<ng-container *ngIf="show">
    <div class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    {{title}}
                </h4>
                <i (click)="hideModal()" class="material-icons" >close</i>
            </div>
            <div class="modal-container">
                <ng-content></ng-content>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</ng-container>
